{
  "extends": "react-app",
  "plugins": ["import"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"],
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "semi": [ "warn", "never" ],
    "quotes": [ "warn", "single" ],
    "jsx-quotes": [ "warn", "prefer-single" ],
    "template-tag-spacing": [ "warn", "never" ],
    "no-shadow": "error",
    "import/no-unresolved": 2,
    "import/named": 2,
    "import/default": 2,
    "import/first": 1,
    "import/newline-after-import": 1,
    "import/no-duplicates": 1,
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal"],
        "newlines-between": "always"
      }
    ]
  }
}
